<ion-view title="{{ 'settings' | translate}}">
    <ion-content class="has-header" padding="true">
        <h3 class="text-center">{{ 'settings' | translate }}</h3>
        <form name="passwordForm" ng-submit="changePassword()" novalidate>
            <div class="list">
                <div class="item item-input item-stacked-label">
                    <label class="input-label">Current Password:</label>
                    <input type="password" name="userPass" ng-model="passwordData.current" required maxlength="24">
                    <span class="assertive item-text-wrap" ng-show="passwordForm.userPass.$error.required && passwordForm.userPass.$dirty">
                        This is required.
                    </span>
                </div>
                <div class="item item-input item-stacked-label">
                    <label class="input-label">New Password:</label>
                    <input type="password" name="newPass" ng-model="passwordData.password" required ng-minlength="6" ng-maxlength="24">
                    <span class="assertive item-text-wrap" ng-show="passwordForm.newPass.$error.required && passwordForm.newPass.$dirty">
                        This is required.
                    </span>
                    <span class="assertive item-text-wrap" ng-show="!passwordForm.newPass.$error.required && (passwordForm.newPass.$error.minlength || passwordForm.newPass.$error.maxlength) && passwordForm.newPass.$dirty">
                        A password must be between 6 and 24 characters long.
                    </span>
                </div>
                <div class="item item-input item-stacked-label">
                    <label class="input-label">Confirm Password:</label>
                    <input type="password" name="confPass" ng-model="passwordData.cpass" required confirm-password="passwordData.password">
                    <span class="assertive item-text-wrap" ng-show="passwordForm.confPass.$error.required && passwordForm.confPass.$dirty">
                        Please, confirm your password.
                    </span>
                    <span class="assertive item-text-wrap" ng-show="!passwordForm.confPass.$error.required && passwordForm.confPass.$error.match && passwordForm.confPass.$dirty">
                        The passwords don't match!
                    </span>
                </div>
            </div>
            <button type="submit" class="button button-block button-assertive" ng-disabled="passwordForm.$invalid">Change Password</button>
        </form>
    </ion-content>
</ion-view>