<ion-view title="{{ 'history' | translate }}">
	<ion-content class="has-header">
		<div class="bar bar-header item-input-inset">
			<label class="item-input-wrapper">
				<i class="icon ion-ios7-search placeholder-icon"></i>
				<input type="search" style="border:0px;" placeholder="{{ 'search' | translate }}" ng-model="searchText">
			</label>
		</div>	
		<ion-list option-buttons="itemButtons" can-swipe="true">
		    <ion-item class="item" ng-repeat="tran in transactions | filter: searchText | orderBy:'timestamp':true">
		    	<div class="row" style="background: {{tran.credit == false ? '#e5e5e5' : '#1ab394'}};">
					<div class="col-25">
						<h2 class="positive">
							{{tran.timestamp | date: 'HH:mm'}}<br/>{{tran.timestamp | date: 'dd/MM/yyyy'}}
						</h2>
					</div>		    		
					<div class="col-33"><h2>{{tran.description}}</h2></div>
					<div class="col"><h2>{{tran.qty | currency}}</h2></div>
					<div class="col-10" ng-if="tran.credit == true"><i class="icon large ion-arrow-up-a"></i></div>
					<div class="col-10" ng-if="tran.credit == false"><i class="icon large ion-arrow-down-a"></i></div>
				</div>
			</ion-item>	
		</ion-list>	
	</ion-content>
</ion-view>