/* Empty. Add your own CSS if you like */

.fixed-outside {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 52px;
}

.paddingless {
 padding: 0px; 
}

.has-bottom {
  bottom: 52px !important;
}

.fixed-right {
  position: absolute;
  right: 0;
  height: 100%;
  width: 104px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 2px;
  padding-left: 2px;
}

.digest.badge {
  background-color: #f8ac59;
  font-size: 10px;
  padding: 1px 6px;  
}

.count-info {
  position: relative;
  right: 10px;
  bottom: 12px;
  font-size: 10px;
  padding: 1px 6px;  
  color: #999c9e;
}

.img-circle {
  border-radius: 50%;
}

.squared {
 border-radius: .25em; 
}

.sidemenu-label {
  color: #a7b1c2;
}

i.icon.fa {
  font-size: 20px;
  color: #a7b1c2;
}

.fa.enlarged {
  color: #999c9e;
}

.item {
  margin: 0px; 
  border-width: 0px; 
}

.item.item-positive {
  border-left-color: #19aa8d;
  border: 4px 0 0 0;
}

.actual {
  border-left: 4px solid #19aa8d;
}

header.positive {
  height: 153px; 
  padding: 33px 26px; 
  background: url('patterns/header-profile.png') no-repeat scroll 0 0 rgba(0, 0, 0, 0); 
  background-color: #233646;
}

.font-bold {
  color: #DFE4ED
}

.smenucontent {
  color: #676a6c; 
  background-color: #2f4050;
}

.menu-button {
  border-width: 0; 
  padding: 0px 12px; 
  font-size: 0px; /* not working */
}
.has-header.has-bottom {
  top: 153px; 
  color: #233646; 
  background-color: #233646;
}

.yWallet-icon {
    background-image: url(../img/ywallet_logo_60px.png);
    width: 60px;
    height: 60px;
    margin-left: auto;
    margin-right: auto
}

.double-button button {
    width: 40%
}