<ion-modal-view>
	<ion-header-bar>
		<h1 class="title">{{ 'add' | translate }} {{ 'savings' | translate }}</h1>
		<div class="buttons">
			<button class="button button-clear" ng-click="closeAddSaving()">{{ 'exit' | translate }}</button>
		</div>
	</ion-header-bar>
	<ion-content>
		<form name="addSavingForm" ng-submit="addSaving()">
			<div class="list">
				<label class="item item-input">
					<span class="input-label">{{ 'title' | translate }}</span>
					<input type="text" name="title" ng-model="savingData.title" placeholder="{{ 'title' | translate }}" required>
				</label>
                <label class="item item-input error_text" ng-show="addSavingForm.title.$dirty && addSavingForm.title.$error.required">
                	{{ 'requiredfield' | translate }}
            	</label>

				<label class="item item-input">
					<span class="input-label">{{ 'description' | translate }}</span>
					<input type="text" name="description" ng-model="savingData.description" placeholder="{{ 'description' | translate }}" required>
				</label>
                <label class="item item-input error_text" ng-show="addSavingForm.description.$dirty && addSavingForm.description.$error.required">
                	{{ 'requiredfield' | translate }}
            	</label>

				<label class="item item-input">
					<span class="input-label">{{ 'money' | translate }}</span>
					<input type="number" step="any" name="qty" ng-model="savingData.qty" placeholder="{{ 'money' | translate }}" required>
				</label>
                <label class="item item-input error_text" ng-show="addSavingForm.qty.$dirty && addSavingForm.qty.$error.required">
                	{{ 'requiredfield' | translate }}
            	</label>

				<label class="item item-input">
					<span class="input-label">{{ 'deadline' | translate }}</span>
					<input type="date" name="deadline" ng-model="savingData.deadline" required>
				</label>
                <label class="item item-input error_text" ng-show="addSavingForm.deadline.$dirty && addSavingForm.deadline.$error.required">
                	{{ 'requiredfield' | translate }}
            	</label>
            									
				<label class="item">
					<button class="button button-block button-assertive" type="submit">
						{{ 'add' | translate }} {{ 'savings' | translate }}
					</button>
				</label>
			</div>
		</form>
	</ion-content>
</ion-modal-view>