<h1>Listing bitcoin_accounts</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bitcoin_accounts.each do |bitcoin_account| %>
      <tr>
        <td><%= link_to 'Show', bitcoin_account %></td>
        <td><%= link_to 'Edit', edit_bitcoin_account_path(bitcoin_account) %></td>
        <td><%= link_to 'Destroy', bitcoin_account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bitcoin account', new_bitcoin_account_path %>
